<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15265894236-bt0egbbpafskt9jl13a4i91sf3oqrclo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15265894236-bt0egbbpafskt9jl13a4i91sf3oqrclo</string>
	<key>API_KEY</key>
	<string>AIzaSyCgBQeYNdkvOnwpGaLcsRsiYRMOWrtXV4g</string>
	<key>GCM_SENDER_ID</key>
	<string>15265894236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhiyuanzhou.MapApp</string>
	<key>PROJECT_ID</key>
	<string>mapapp-ca9d6</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-ca9d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15265894236:ios:63e65d997aab4dfe02fb99</string>
</dict>
</plist>